/* App-level overrides */
input, textarea, select {
  outline: none;
}

textarea {
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

/* Hide all scrollbars globally */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

@media print {
  .no-print {
    display: none !important;
  }
}
